/* ==========================================================================
   Capital Framework
   Pagination Styling
   ========================================================================== */

//
// Theme variables
//

// Color variables

@pagination-text:               @gray;
@pagination-bg:                 @gray-10;

// Sizing variables

@pagination-btn-min-width-px:   130px;


//
// Import external dependencies
//

@import (less) '../../bapital-core/src/bapital-core.less';
@import (less) '../../bapital-buttons/src/bapital-buttons.less';
@import (less) '../../bapital-icons/src/bapital-icons.less';


//
// Molecules
//

@import (less) './molecules/pagination.less';
